@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  .num {
    animation: counter 10s infinite alternate ease-in-out;
    counter-reset: num var(--num);

  }
  .num::after {
    content: counter(num);
  }
  
  @keyframes counter {
    from {
      --num: 0;
    }
    to {
      --num: 100;
    }
  }