@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


body {

  /* background: #fff; */
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
h2{
  font-weight: 80px;
  color: none;
  border: 2px aliceblue;
}

.slide-right {
    width:100%;
    overflow:hidden;
  }
  .slide-right h2 {
    animation: slide-right 7s;
  }
  .slide-right h3 {
    animation: slide-right 7s;
  }
  .slide-right p {
    animation: slide-right 7s;
  }
.image1 {
  width:100%;
    overflow:hidden;
}
.image1 img{
  animation: slide-right 3s;
}
.image2 {
  width:100%;
    overflow:hidden;
}
.image2 img{
  animation: slide-right 3s;
}
.image3 {
  width:100%;
    overflow:hidden;
}
.image3 img{
  animation: slide-right 3s;
}

/* .banner{ 

overflow-y: hidden;
overflow-x: hidden;
} */






@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


