@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  /* background: #fff; */
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.slide-right {
    width:100%;
    overflow:hidden;
  }
  .slide-right p {
    animation: slide-right 5s;
  }

.content {
  position: relative;
}





@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


